* {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #181a1b;
}

.content-container {
    margin-left: 300px;
    padding: 20px;
    background-color: #181a1b;
}

.sidebar {
    box-sizing: border-box;
    padding: 40px;
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: white;
    background-color: #181a1b;
    border-right: 1px solid #2e2e2e;
    overflow-x: hidden;
    transition: 0.5s ease 0s;
    font-family: "Roboto Mono", Roboto Mono, monospace;
}

.sidebar-section {
    margin-top: 50px;
}

.sidebar-link {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    font-family: "Roboto Mono", Roboto Mono, monospace;
    padding: 10px 5px;
    box-sizing: border-box;
    display: inline-block;
    transition: 0.5s ease;
}

.sidebar-link.active {
    color: white;
}

.progress-bar {
    z-index: 2;
    height: 8px;
    background: #4f4f4f;
    position: fixed;
    top: 0;
    left: 0;
}

.main-content {
    width: calc(100% - 275px - 400px);
    height: 100%;
    margin-left: 275px;
    background-color: #181a1b;
    padding: 100px;
    padding-right: 00px;
}

.chapter {
    margin-bottom: 100px;
}

.chapter-title {
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: "Roboto Mono", Roboto Mono, monospace;
    padding: 10px 5px;
}

.article-paragraph {
    margin-bottom: 20px;
    font-size: 15.5px;
    color: white;
    font-family: "Roboto", Roboto, sans-serif;

}
.chapter-subtitle {
    margin-bottom: 20px;
    font-size: 17px;
    color: white;
    font-family: "Roboto Mono", Roboto, sans-serif;

}

.caption {
    text-align: center;
    font-style: italic;
    font-family: "Roboto Mono", Roboto Mono, monospace;
    color: lightgray;
    font-size: 12px;
    margin: 40px 0px;
}

img, chain-reaction {
    display: block;
    margin: auto;
    padding-left: -50px;
    width: calc(80%);
    aspect-ratio: 1/1;
}

img, first-chain-reactor {
    display: rectangle;
    margin: auto;
    padding-top: 20px;
    width: calc(70%);
    aspect-ratio: 1/1;
}

img, little-boy {
    display: rectangle;
    margin: auto;
    padding-left: 50px;
    width: calc(80%);
    aspect-ratio: 1.25/1;
}

img, hiroshima-after {
    display: rectangle;
    margin: auto;
    padding-left: 50px;
    width: calc(80%);
    aspect-ratio: 1.25/1;
}

img, burned-corpse {
    display: rectangle;
    margin: auto;
    padding-left: 50px;
    width: calc(80%);
}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
}


.column {
  flex: 50%;
  padding: 5px;
}

.nukemap {
    width: 100%;
    height: 600px;
    margin: 20px;
}